/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '../../../theme/_vars.css';
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-wrapper {
    display: block;
    position: relative;
}
.container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.section-container {
    display: block;
    position: relative;
}

.columns-block {
    display: flex;
    align-content: center;
    justify-content: space-between;
    .left-block {
        display: block;
        flex: 0 0 45%;
    }
    .right-block {
        display: block;
        flex: 1 1 50%;
    }
}

.picture-content {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    &-image {
        displa: block;
        width: 100%;
        max-width: 100%;
    }
}

.content-block {
    display: block;
    padding: 0 45px;
    &-text {
        display: block;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.statistics-block {
    display: block;
    background-color: #ececec;
    padding: 35px 0;
}
.statistics-block-wrapper {
    display: flex;
    justify-content: space-between;
}
.statistics-item {
    display: block;
    &-text {
        display: block;
        font-family: var(--font-normal);
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        margin-bottom: 15px;
    }
    &-value {
        display: block;
        font-family: sans-serif;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
