/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.title-page {
    display: block;
    font-family: var(--pt-sans);
    font-size: 36px;
    line-height: 1.5;
    color: var(--dark-grey);
} 