{
  "parser": "babel-eslint",
  "extends": "google",
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": [1, 120, 4, {"ignoreComments": true}]
  },
  "plugins": [
    "react"
  ]
}