/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.content-container {
    display: block;
    width: 100px;
    font-family: var(--pt-sans);
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: var(--dark);
}