/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.btn {
    display: inline-block;
    padding: 7px 10px 3px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 4px;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    i {
        margin-right: 5px;
    }
    &:hover {
        cursor: pointer;
    }
}

.btn-small {
    padding: 3px 5px;
}
.btn-normal {
    padding: 6px 12px;
}
.btn-big {
    padding: 9px 16px;
}