:root {
  /* fonts */
  --font-normal: Arial, sans-serif;
  --font-light: 'Arial', sans-serif;
  --pt-mono: 'PT Mono', sans-serif;
  --pt-sans: 'PT Sans', sans-serif;
  --pt-serif: 'PT Serif', serif;
  /* colors */
  --dark: #333;
  --white: #fff;
  --grey: #BDBDBD;
  --dark-grey: #29292a;
  --aqua: #5cc2be;
  --blue-violet: #6979B7;
  --red: #DD1C1A;
  --blue: #0a95dd;
  --orange: #f08232;
  --azure: #086788;
  --green: #1cc331;
}