/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '../../theme/_vars.css';
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.main-header {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.header-wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.logo-wrapper {
    display: block;
}
.logotype {
    display: block;
    width: 180px;
}
.logotype-image {
    display: block;
    width: 100%;
    max-width: 100%;
}

.menu-wrapper {
    padding-top: 15px;
}

.auth-wrapper {
    display: block;
    padding-top: 5px;
}