/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-wrapper {
    display: flex;
    height: 100vh;
    min-height: 768px;
}
.left-container {
    display: block;
    height: 100%;
}
.right-container {
    display: block;
    flex: 1 1 auto;
}
.header {
    height: 100px;
    box-shadow: 0 1px 1px 0px rgba(0,0,0, 0.1);
}