/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_typography.css';
@import '_vars.css';
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}


.auth-block {
    align-self: center;
    display: block;
    width: 160px;
    position: relative;
}
.non-auth-block {
    display: block;
}
.non-auth-item {
    display: block;
    height: 22px;
    font-family: var(--pt-sans);
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.auth-user {
    composes: clearfix;
    display: block;
}
.auth-user-avatar {
    display: block;
    float: left;
    width: 40px;
}
.user-avatar-image {
    display: block;
    width: 100%;
    max-width: 100%;
}

.auth-user-info {
    display: block;
    padding-left: 5px;
    width: 100px;
    float: left;
}
.auth-user-info-item {
    display: block;
}
.controls-block {
    float: right;
    padding-top: 10px;
}

.control-btn-auth {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    &:hover {
        cursor: pointer;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.dropdown-wrapper {
    display: block;
    background-color: var(--white);
    box-sizing: border-box;
    position: absolute;
    bottom: -10px;
    right: 0;
    transform: translate(0, 100%);
    z-index: 20;
}

.dropdown {
    display: block;
    width: 130px;
    padding: 10px 13px;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
}

.dropdown-item {
    display: block;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.dropdown-item-link {
    display: inline-block;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
    font-weight: normal;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}