/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper-content {
    display: block;
    padding: 80px 15px 30px;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
}
.title-page {
    display: block;
    font-family: var(--pt-sans);
    font-size: 22px;
    color: var(--dark);
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;    
}