/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import '_vars.css';

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper {
    display: block;
}

.form-wrapper {
    display: block;
    background: var(--white);
    padding: 10px 15px 10px;
    border: 1px solid rgba(0,0,0, 0.1);
}
.test-block-title {
    font-family: var(--pt-sans);
    font-size: 18px;
    line-height: 1;
    color: var(--dark-grey);
    font-weight: bold;
    margin: 5px 0 15px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.questions-btn-add {
    display: inline-block;
    padding: 1px 12px 1px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--green);
    color: var(--white);
    font-family: var(--pt-sans);
    font-size: 14px;
    line-height: 30px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.test-btn-wrapper {
    max-width: 960px;
    margin-top: 15px;
    padding: 5px 0 10px;
    border-top: 1px solid var(--grey);
}


.btn-submit {
    display: inline-block;
    padding: 1px 12px 1px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--green);
    color: var(--white);
    font-family: var(--pt-sans);
    font-size: 14px;
    line-height: 30px;
    border: 0;
    margin: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 10px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.btn-back {
    display: inline-block;
    padding: 1px 12px 1px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
    font-family: var(--pt-sans);
    font-size: 14px;
    line-height: 30px;
    border: 0;
    margin: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
